<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addpart_form</title>
</head>
<body>
<div align="center">
    <h1>add garage parts form</h1>

    <br>

    <form action="#" th:action="@{/add_part}" method="post" th:object="${part}">
        <label>item:</label>

        <input type="text" th:field="*{partname}"/>
        <p  class="hasErrors"  th:if="${#fields.hasErrors('partname')}" >
            Name Error</p>

        <br>

        <label>price:</label>
        <input type="text" th:field="*{price}"/>
        <p  class="hasErrors"  th:if="${#fields.hasErrors('price')}" >
            price Error</p>

        <br>

     <button type="submit">Add part</button>
        <button><a href="/">Homepage</a></button>
    </form>
</div>

</body>
</html>