<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot Form Demo</title>
</head>
<body>
<div align="center">
    <h1>Garage The leaking carb</h1>
    <br>
    <button><a href="/register">Click here to register</a></button>
    <br>
    <br>
    <button><a href="/add_part">Click here to add a part</a></button>
    <br>
    <br>
    <button><a href="/add_action">Click here to add a repair action</a></button>
    <br>
    <br>
    <button><a href="/carpaper">Click here to add a car to a customer</a></button>
    <br>
    <br>
    <button><a href="/repair">Click here to begin a repairjob</a></button>
    <br>
    <br>
    <button><a href="/callcustomer">Click here to see what customers need to be called</a></button>
    <br>
    <br>
    <button><a href="/paymentpage">Click here to pay for a repair</a></button>
    <br>
    <br>
    <button><a href="/logout">Click here to logout</a></button>
</div>
</body>
</html>